<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Admin</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/admin.css" />
  </head>
  <body>
    <%- include('../header') %>
    <h1>ADD NEW JOB OPPORTUNITY</h1>
    <form action="/admin/create-vaga" method="post">
      <label for="title">TITLE</label>
      <input
        id="title"
        maxlength="20"
        type="text"
        placeholder="title"
        name="title"
        required
      />
      <label for="description">DESCRIPTION</label>
      <input
        id="description"
        type="text"
        placeholder="description"
        name="description"
        required
      />
      <button type="submit">SALVAR</button>
    </form>
    <p>Clique <a href="admin/vaga">aqui</a> para gereciar suas vagas</p>
    <%- include('../footer') %>
  </body>
</html>
