<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Update</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/admin.css" />
  </head>
  <body>
    <h1>UPDATE OPPORTUNITY</h1>
    <form action="/admin/opportunity/<%-opportunity.id%>/update" method="post">
      <label for="title">TITLE</label>
      <input
        id="title"
        maxlength="20"
        type="text"
        placeholder="title"
        name="title"
        required
        value=" <%- opportunity.title %>  "
      />
      <label for="description">DESCRIPTION</label>
      <input
        id="description"
        type="text"
        placeholder="description"
        name="description"
        required
        value="<%- opportunity.description %> "
      />
      <button type="submit">ATUALIZAR</button>
    </form>
    <%- include('../footer') %>
  </body>
</html>
