<div class="header">
  <div class="img">
    <a href="/">
      <img class="logo" src="/images/logo.png" alt="jobify" />
    </a>
  </div>
</div>
<div class="header-content">
  <h3>We are Jobify - join US</h3>
</div>
